@import "~LessConstants";

.app {
  .themeButton {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    background-color: @blue;
    color: @white;
    display: inline-block;
    font-family: @main-font;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &.light {
      background-color: @white;
    }
    &.dark {
      background-color: @black;
    }

    .text {
      font-family: @main-font;
      font-size: 1.7em;
      padding: 1rem;

      &.light {
        color: @black;
      }
      &.dark {
        color: @white;
      }
    }
  }
}
